.App {
  text-align: center;
  background-color: #282c34bb;
  min-height: 100vh;
}

.App-logo {
  height: 80px;
  width: 80px;
  pointer-events: none;
  filter: invert(59%) sepia(6%) saturate(4291%) hue-rotate(143deg)
    brightness(99%) contrast(89%);
  margin-bottom: 20px;
}
