.App {
  text-align: center;
  background-color: #282c342f;
  min-height: 100vh;
}

.App-logo {
  height: 160px;
  width: 160px;
  pointer-events: none;
  margin-bottom: -20px;
  margin-top: -15px;
}
