.calculator {
  font-size: 25px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sum {
  color: #009de0;
}

.container {
  max-width: 30rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.bike-logo {
  width: 80px;
  object-fit: cover;
  filter: invert(61%) sepia(92%) saturate(5278%) hue-rotate(172deg)
    brightness(101%) contrast(101%);
}

button.btn-calculate {
  background-color: #009de0;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.return {
  width: 20px;
  margin-top: -9px;
  object-fit: cover;
  filter: invert(100%);
}

button.btn-return {
  background-color: #009de0;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 12px 15px;
  cursor: pointer;
}

label.col-form-label {
  letter-spacing: 0.03rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 30rem;
    box-shadow: none;
  }
  .bike {
    width: 60px;
  }
}
