.container {
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  flex-direction: column;
}

form.input-form {
  background-color: rgb(216, 216, 216);
  border: 1px solid;
  border-radius: 8px;
  font-size: calc(9px + 2vmin);
}

.input-form input {
  margin: 10px 0;
  padding: 6px;
  border-radius: 8px;
  border: none;
  font-size: calc(4px + 2vmin);
}

input {
  color: #24ccff;
  font-family: inherit;
  text-align: center;
}

.button {
  background-color: #24ccff;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(6px + 2vmin);
  margin: 12px 2px;
  cursor: pointer;
}
