.wolt-logo {
  height: 150px;
  width: 150px;
  pointer-events: none;
  margin-bottom: -30px;
  margin-top: -30px;
}

@media screen and (max-width: 768px) {
  .wolt-logo {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
}
